#Note
{
    font-family: 'Edu NSW ACT Foundation', cursive;
    text-shadow: 3mm;
    
}

#copyright
{
    font-family: 'Edu NSW ACT Foundation', cursive;

    font-family: 'Edu SA Beginner', cursive;
}

#result_label
{
    font-family: 'Mochiy Pop One', sans-serif;
}

#result_confidence
{
    font-family: 'Mochiy Pop One', sans-serif;
}